{template 'common/header'}
<link rel="stylesheet" type="text/css" href="../addons/str_takeout/template/resource/css/main.css?ver=11242316" />
<link rel="stylesheet" type="text/css" href="../addons/str_takeout/template/resource/css/jquery.bxslider.css" />
<script src="../addons/str_takeout/template/resource/js/dialog.js"></script>
<!--<script src="../addons/str_takeout/template/resource/js/main.js"></script>-->
<script src="../addons/str_takeout/template/resource/js/form.js"></script>
<script src="../addons/str_takeout/template/resource/js/menu.js"></script>
<script src="../addons/str_takeout/template/resource/js/common.js"></script>
<script src="../addons/str_takeout/template/resource/js/jquery.bxslider.min.js"></script>
<div class="container" onselectstart="return true;" ondragstart="return false;">
	{template 'header'}
	<!--
    	作者：librazy@foxmail.com
    	时间：2015-10-14
    	描述：TODO:定位、选择
    -->
	<div class="nav_address"><span>当前门店：</span><span class="nav_add_add">{$store['title']}</span></span>
		<a href="{php echo $this->createMobileUrl('address', array('sid' => $sid, 'r' => 2,'op' => 'init'));}" class="nav_sp_location"></a>
	</div>
	<form name="cart_form" id="cart_form" action="{php echo $this->createMobileUrl('order', array('sid' => $sid), true);}" method="post">
		<input type="hidden" name="more" value="{$_GPC['more']}">
		<input type="hidden" name="dish_str" value="{$dish_str}">
		<section class="menu_wrap" id="menuWrap">
			{if $store['open']==0}
			<div class="tips">企鹅休息中，接受预定~下次配送时间：
				<br /><span>{php $time = strtotime($store['nextStartTime']); echo date("m-d H:i",$time);} {$store['xingqi']} <i class="cantype{$store['cantype']}"></i></span></div>
			{else}
			<div class="tips lowtips">
				<span>{php $time = strtotime($store['nextStartTime']); echo date("m-d",$time);} {$store['xingqi']} <i class="cantype{$store['cantype']}"></i></span></div>
			{/if}
			<div class="menu_container">
				<ul class="menu_list">
				{if !empty($dish)}
					{loop $dish $ds}
					{if $ds['kucun']==''}
						{php $ds['kucun'] = 0;}
					{/if}
					{if $ds['selling'] == 1}
					<li id="{$ds['id']}" class="auto_height {if !($ds['kucun'] == -1 || $ds['kucun'] > 0)}out{/if}">
						<div>
							{if $ds['thumb']} {php $ds['thumb'] = explode(';',$ds['thumb']); }
							<a data-href="{php echo $this->createMobileUrl('dishdetail', array('sid' => $sid, 'dish_id' => $ds['id']));}" class="dish_detail" style="text-decoration: none!important;color: inherit!important;">
								<div class="slider_wrap">
									<ul id="slider{$ds['id']}">
										{loop $ds['thumb'] $thu}
										<li>
											<img src="{php echo tomedia($thu);}" alt="" />
										</li>
										{/loop}
									</ul>
									<script type="text/javascript">
											$(function() {
												$("#slider{$ds['id']}").bxSlider({
												  auto: true,
												  pause: 2000,
												  controls:false
												});
											});
									</script>
									<div class="mask">
										<div>
											<p>售完</p>
										</div>
									</div>
								</div>
								{else}
								<div class="nopic"></div>
								{/if}
							</div>
							<div class="menu_desc">
								<h3>{$ds['title']}</h3>
								<div class="info">{$ds['zuhe']}</div>
							</div>
						</a>
						<div class="price_wrap menu_desc">
							<strong>￥<span class="unit_price">{$ds['price']}</span></strong>
							<div class="fr buy_btn {if (!($ds['kucun'] == -1 || $ds['kucun'] > 0)||(!$address['address']))}buy_btn_out{/if}" max="{php echo $address['address']?$ds['kucun']:0}">
								<a href="javascript:void(0);" class="btn_n add" data-num="{$cart['data'][$ds['id']]}"></a>
								<input autocomplete="off" class="h_num" type="hidden" name="dish[{$ds['id']}]" value="{$cart['data'][$ds['id']]}">
							</div>
						</div>
					</li>
					{/if}
					{/loop}
					{else}
	<li class="on-info"><i class="fa fa-info-circle"></i> 暂无菜单</li>
	{/if}
				</ul>
			</div>
		</section>
		<footer class="shopping_cart">
			<div class="fixed">
				<div id="fix_bar" {if $address['address']}class="hidden"{/if}">
					<a id="settlement" class="comm_btn {if !$address['address']}disabled init{/if}">{if $address['address']}￥<span id="totalPrice">0</span>元 合计<span class="cart_num" id="cartNum"></span>份美食 立即下单{else}请添加地址{/if}</a>
				</div>
<nav class="nav_common">
		<ul class="box_nav">
			<li class="more on">
				<a href="{php echo $this->createMobileUrl('dish', array('sid' => $sid));}">
					 <span class="order">&nbsp;</span>
		  		 <label>门店菜单</label>
				</a>
			</li>
			<li class="more ">
				<a href="{php echo $this->createMobileUrl('myorder', array('sid' => $sid));}">
					<span class="my">&nbsp;</span>
				<label> 我的订单</label>
			</a>
			</li>
			<li class="more">
				<a href="{php echo $this->createMobileUrl('address', array('sid' => $sid));}">
					<span class="introx">&nbsp;</span>
				<label> 地址管理</label>
				</a>
			</li>
		</ul>
	</nav>
			</div>
		</footer>
	</form>
</div>

<script type="text/javascript">
	$(function() {
		$("#settlement").click(function() {
			if ($("#settlement").hasClass("init")){
				location.href="{php echo $this->createMobileUrl('address', array('op' => 'init','r' => 2));}";
			}
			if (!$("#settlement").hasClass("disabled")) {
				document.cart_form.submit();
			}
		});
		
		$(".dish_detail").click(function() {
			var action=$('#cart_form').attr("action");
			action=action.split("#")[0];
			action+='&op=detail#wechat_redirect';
			$('#cart_form').attr("action",action);
			var href=$(this).attr("data-href");
			var ajax_option={
				success:function(data){
					location.href=href;
				},
				url:action
			};
			$('#cart_form').ajaxSubmit(ajax_option);
		});
	});
	var menu = {
		offsetAry: [0],
		_is_left_menu_addclass: true,
		init: function(id) {
			var winH = $(window).height(),
				_this = this,
				_icoMenu = $('#icoMenu'),
				_sideNav = $('#sideNav'),
				maxH = winH - (_icoMenu.parent().is(':visible') ? _icoMenu.outerHeight(true) : 0) - 45;
			this.el = $(id);
			_sideNav.height(maxH);
			if (_sideNav.find('ul').height() > maxH) new IScroll('#sideNav', {
				probeType: 3,
				mouseWheel: true,
				click: true
			});
			$(window).bind('scroll', function() {
				_this.scroll.call(_this);
			});
			$('#icoMenu').click(function() {
				if (_sideNav.css('display') != 'none') {
					_sideNav.show();
				} else {
					_sideNav.hide();
				}
				if (_sideNav.find('ul').height() > maxH) new IScroll('#sideNav', {
					probeType: 3,
					mouseWheel: true,
					click: true
				});
			});
			$('.menu_tt h2').each(function() {
				_this.offsetAry.push($(this).offset().top);
			});
			this.el.find('a').click(function() {
				$(this).addClass('on').parent().siblings().find('a').removeClass('on');
				_this._is_left_menu_addclass = false;
				var t = $(window).scrollTop();
				var t1 = _this.offsetAry[_this.el.find('a').index(this) + 1];
				var _t = Math.abs(t1 - t);
				var _time = parseInt(Math.round(_t / 3));
				$('html,body').animate({
					scrollTop: t1
				}, _time, "linear", function() {
					_this._is_left_menu_addclass = true;
				});
			});
			_this.offsetT = this.el.offset().top;
		},
		getIndex: function(ary, value) {
			var i = 0;
			for (; i < ary.length; i++) {
				if (value >= ary[i] && value < ary[i + 1]) {
					return i;
				}
			}
			return ary.length - 1;
		},
		scroll: function() {
			var st = $(document).scrollTop(),
				index = this.getIndex(this.offsetAry, st),
				i = index - 1;
			if (this.curIndex !== index) { // 判断分类是否切换
				$('.menu_tt h2').removeClass('menu_fixed');
				if (this._is_left_menu_addclass == true)
					this.el.find('a').removeClass('on');
				if (i >= 0) {
					this.el.addClass('menu_fixed');
					$('.menu_tt').eq(i).find('h2').addClass('menu_fixed');
					if (this._is_left_menu_addclass == true)
						this.el.find('a').eq(i).addClass('on');
				} else {
					this.el.removeClass('menu_fixed');
				}
				this.curIndex = index;
			}
		}
	}
	
	var init =1;
	$.fn.amount = function(num, callback){
		var num = typeof num === 'undefined' ? 0 : num,
			callback = callback || $.noop,
			isShow = num > 0 ? '' : ' style="display:none;"',
			activeClass = 'active';

		function add(){
			var id = "{php echo $store['id'];}";
			if(id=="-1"){
				alert('要先添加送餐地址才能點餐哦！');
				return false;
			}
			var obj = $(this).prev(),
				_num = obj.find('.num'),
				curNum = parseInt(_num.text(), 10);

			var data_obj = obj.parent();
			var max = data_obj.attr("max");
			if(null != max && max != "" && max != "-1" && curNum >= max-1)
			{
				data_obj.addClass("buy_btn_out");
			}
			if(null != max && max != "" && max != "-1" && curNum >= max)
			{
				return false;
			}
			
			_num.text(++curNum);
			data_obj.next(".number").val(curNum);
			$(".h_num",data_obj.parent()).val(curNum);
			if(curNum > 0){
				obj.show();
				$(this).addClass(activeClass);
			}

			if(init==1){
				var id=obj.parent().parent().parent().get(0).id;
				var ishas = obj.parent().parent().parent().parent().hasClass("xian");
				var lis =$("#menuWrap #"+id+"");
				for(var i = 0; i < lis.length; i++){
					if(ishas){
						if(!$(lis[i]).parent().hasClass("xian"))
						{
							init=0;
							$(".add",$(lis[i])).click();
							
						}
					}
					else{
						if($(lis[i]).parent().hasClass("xian"))
						{
							init=0;
							$(".add",$(lis[i])).click();
						}
						return callback.call(this, '+');
					}
				}
			}
			else{
				init=1;
				if(!obj.parent().parent().parent().parent().hasClass("xian")){
					return callback.call(this, '+');			
				}
			}
		}

		function del(){
			var obj = $(this).parent(),
				_num = obj.find('.num'),
				_add = obj.next(),
				curNum = parseInt(_num.text(), 10);
			var data_obj = obj.parent();
			data_obj.removeClass("buy_btn_out");
			_num.text(--curNum);
			obj.parent().next(".number").val(curNum);
			$(".h_num",obj.parent()).val(curNum)
			if(curNum < 1){
				obj.hide();
				_add.removeClass(activeClass);
			}else{
				_add.addClass(activeClass);
			}
			if(init==1){
				var id=obj.parent().parent().parent().get(0).id;
				var ishas = obj.parent().parent().parent().parent().hasClass("xian");
				var lis =$("#menuWrap #"+id+"");
				for(var i = 0; i < lis.length; i++){
					if(ishas){
						if(!$(lis[i]).parent().hasClass("xian"))
						{
							init=0;
							$(".del",$(lis[i])).click();
							
						}
					}
					else{
						if($(lis[i]).parent().hasClass("xian"))
						{
							init=0;
							$(".del",$(lis[i])).click();
						}
						return callback.call(this, '-');
					}
				}
			}
			else{
				init=1;
				if(!obj.parent().parent().parent().parent().hasClass("xian")){
					return callback.call(this, '-');		
				}
			}

		}

		return this.each(function(){
			$(this).before('<span'+ isShow +'><a class="btn_n del '+ activeClass +'"></a><span class="num">'+ num +'</span></span>').bind('click', add);
			
			$(this).prev().find('.del').bind('click', del);

			if(num > 0){
				$(this).addClass(activeClass);
			}
		});
	}

	$.amountCb = function(){
		var _condition = $('#sendCondition'),
			_total = $('#totalPrice'),
			_cartNum = $('#cartNum'),
			_fix = $('#fix_bar'),
			sendCondition = parseFloat(_condition.text()).toFixed(3);

		return function(sign){
			var totalPrice = parseFloat(_total.text()) || 0,
				disPrice = parseFloat(sign + 1) * parseFloat($(this).parents('li').find('.unit_price').text()),
				price = totalPrice + disPrice,
				number = _cartNum.text() == '' ? 0 : parseInt(_cartNum.text()),
				disNumber = number + parseInt(sign + 1);
				price = parseFloat((price).toFixed(3));
			_total.text(price);
			_condition.text(parseFloat((sendCondition - price).toFixed(3)));
			_cartNum.text(disNumber);
			if(sendCondition - price <= 0){
				_condition.parent().hide().next().show();
			}else{
				_condition.parent().show().next().hide();
			}

			if(disNumber > 0){
				_cartNum.addClass('has_num');
				_fix.removeClass('hidden');
			}else{
				_cartNum.removeClass('has_num').text('');
				_fix.addClass('hidden');
			}
			return false;
		}
	}

	$(function(){
		if($('#swipeNum').length){
			new Swipe($('#imgSwipe')[0], {
				speed: 500, 
				auto: 5000, 
				callback: function(index){
					$('#swipeNum li').eq(index).addClass("on").siblings().removeClass("on");
				}
			});
		}

		$('#storeList li').click(function(e){
			if(e.target.tagName != 'A'){
				location.href = $(this).attr('href');
			}
		});
	});
</script>
{template 'common'} {template 'common/footer'}
