{template 'common/header'}
<link rel="stylesheet" type="text/css" href="../addons/str_takeout/template/resource/css/main.css">
<script src="../addons/str_takeout/template/resource/js/dialog.js"></script>
<style type="text/css">
	.nav div{width:80%;}
	.nav a{width:20%;}
</style>
<div class="container">
	<div class="nav_sp">
    	<a href="#" class="nav_sp_back"></a>
    	<div id="nav_sp_wrap"><a href="#" class="nav_sp_logo"></a></div>
    	<a href="#" class="nav_sp_home"></a>
    </div>
	<div class="cont_box">
		<div class="cont_box">
			<img class="cont_userimg" src="../addons/str_takeout/template/resource/images/penguin.png"/>
			<!--src="../resource/images/penguin.png"-->
			
			<span class="cont_userdec">dasdad</span>
				<br>
				<br>	
			<span class="cont_userdec1">dsadsadsa</span>
		</div>
	</div>
	<div class="cont_box">
		<p class="buyrecord">购买记录</p>
		<p class="run_adress">地址管理</p>
		
		<hr width="102%" class="division" />
		<ul class="menu_list order_list cont_box">
			<li class="cont_box">
				<img class="phone" src="../addons/str_takeout/template/resource/images/phone.png" />
				
				<br>
				<p class="phone_number">saddsad</p>
				<img class="compiler" src="../addons/str_takeout/template/resource/images/phone.png"/>
			</li>
			<li style="margin-top: 25px;" class="cont_box">
				<span class="adress_name">中关村店</span>
			</li>
			<li style="margin-top: 4px;padding: 0;" class="cont_box">
				<span class="adress_detailed">北京市不知道哪个区那个位置</span>
				<img class="adress_delete" src="../addons/str_takeout/template/resource/images/phone.png"" />
			</li>
			<li style="margin-top:0;padding: 0;" class="cont_box">
				<span class="adress_detailed">北京市不知道哪个区那个位置</span>
				<img class="adress_delete" src="../addons/str_takeout/template/resource/images/phone.png"" />
			</li>
			
			<li style="margin-top: 25px;" class="cont_box">
				<span class="adress_name">中关村店</span>
			</li>
			<li style="margin-top: 4px;padding: 0;" class="cont_box">
				<span class="adress_detailed">北京市不知道哪个区那个位置</span>
				<img class="adress_delete" src="../addons/str_takeout/template/resource/images/phone.png"" />
			</li>
			<li style="margin-top:0;padding: 0;" class="cont_box">
				<span class="adress_detailed">北京市不知道哪个区那个位置</span>
				<img class="adress_delete" src="../addons/str_takeout/template/resource/images/phone.png"" />
			</li>
			
			<p>&nbsp;</p>
		</ul>
	</div>
<!--	<header class="nav menu">
		<div>
			<a href="{php echo $this->createMobileUrl('myorder', array('status' => '', 'sid' => $_GPC['sid']))}" {if $status == ''}class="on"{/if}>全部</a>
			<a href="{php echo $this->createMobileUrl('myorder', array('status' => '1', 'sid' => $_GPC['sid']))}" {if $status == '1'}class="on"{/if}>待确认</a>
			<a href="{php echo $this->createMobileUrl('myorder', array('status' => '2', 'sid' => $_GPC['sid']))}" {if $status == '2'}class="on"{/if}>处理中</a>
			<a href="{php echo $this->createMobileUrl('myorder', array('status' => '3', 'sid' => $_GPC['sid']))}" {if $status == '3'}class="on"{/if}>已完成</a>
			<a href="{php echo $this->createMobileUrl('myorder', array('status' => '5', 'sid' => $_GPC['sid']))}" {if $status == '5'}class="on"{/if}>待付款</a>
		</div>
	</header>
	<section class="pay_wrap">
		<ul class="my_order">
			{if !empty($data)}
				{loop $data $row}
					<li>
						<a href="{php echo $this->createMobileUrl('orderdetail', array('id' => $row['id'], 'sid' => $row['sid']))}">
							<div>
								{if $row['status'] == 1}
									<div class="ico_status pending"><i></i>待确认</div>
								{elseif $row['status'] == 2}
									<div class="ico_status inhand"><i></i>处理中</div>
								{elseif $row['status'] == 3}
									<div class="ico_status complete"><i></i>已完成</div>
								{elseif $row['status'] == 4}
									<div class="ico_status cancle"><i></i>已取消</div>
								{/if}
							</div>
							<div>
								<h3 class="highlight">{$row['title']}</h3>
								<p>{$row['num']}份/￥{$row['price']}</p>
								<div>{php echo date('Y-m-d H:i', $row['addtime'])}</div>
							</div>
						</a>
					</li>
				{/loop}
			{else}
				<li class="on-info"><i class="fa fa-info-circle"></i> 暂无订单</li>
			{/if}
		</ul>
	</section>	
	<div class="page">{$pager}</div>-->
</div>
<script type="text/javascript">
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
		WeixinJSBridge.call('hideOptionMenu');
	});
</script>
{template 'common'}
{template 'common/footer'}
