{template 'common/header'}
<link rel="stylesheet" type="text/css" href="../addons/str_takeout/template/resource/css/main.css?ver=1" />
<script src="../addons/str_takeout/template/resource/js/dialog.js"></script>
<style type="text/css">
	.nav div {
		width: 80%;
	}
	.nav a {
		width: 20%;
	}
	.cont_box,
	.menu_list li.cont_box {
		float: none;
	}
	body {
		background-color: #E5E5E5;
	}
	.run_adress {
		border-bottom-color: rgba(243, 152, 1, 0);
	}
	.menu_list.order_list.cont_box .cont_box.order_item {
		padding-right: 6%;
	}
	.menu_list li strong span.unit_price {
		color: #000000;
	}
	.menu_list li strong span.unit_price {
		color: #f29801;
	}
</style>
<div class="cont_box">
	<div class="cont_box">
		<img class="cont_userimg" src="../addons/str_takeout/template/resource/images/penguin.png" />
		<!--src="../resource/images/penguin.png"-->
		<span class="cont_userdec">微信昵称</span>
		<br>
		<br>
		<span class="cont_userdec1">共{$total}个订单</span>
	</div>
</div>
{template 'header'}
<div class="cont_box">
	<div class="nav_wrapper">
		<div class="nav_inner">
			<a class="buyrecord">购买记录</a>
			<a class="run_adress" href="{php echo $this->createMobileUrl('address', array('sid' => $sid));}">地址管理</a>
		</div>
	</div>

	<hr width="102%" class="division" />
	{if !empty($data)} {loop $data $row}
	<ul class="menu_list order_list cont_box" style="margin-top: 15px;margin-bottom: 4px;width: 100%;margin: 0;">
		<div class="shopping_info cont_box">
			<time>
				{php echo date('Y-m-d',$row['addtime']);}
			</time>
			<span id="shopName">
				{php $sname=pdo_fetchall('SELECT title,telephone FROM ' . tablename('str_store').' WHERE id='.$row['sid']);}
				{$sname[0]['title']}
				<a class="ico_tel" href="tel:{$sname[0]['telephone']}"></a>
			</span>
		</div>
		{php $dishs=get_dish($row['id']);} {loop $dishs $dis}
		<li class="cont_box order_item">
			<div>
				<h3>{$dis['dish_title']}  <span class="order_item_count">x{$dis['dish_num']}</span><strong>￥<span class="unit_price">{$dis['dish_price']}</span></strong></h3>
			</div>
			{php $dishinfo=get_dishinfo($dis['dish_id']);} 
			{loop $dishinfo $dinfo}
			<span class="food_detailed info">{$dinfo['zuhe']}</span>
			{/loop} 
		</li>
		{/loop}
		<li class="cont_box order_item" style="margin-top: 2px;padding-bottom: 10px;">
			<div>
				<span class="state state{$row['status']}">
					<strong>￥<span class="unit_price" id="totalPrice2">{$row['price']}</span></strong>
				</span>
			</div>
		</li>
	</ul>
	{/loop} {else}
	<li class="on-info"><i class="fa fa-info-circle"></i> 暂无订单</li>
	{/if}
</div>
</div>
<script type="text/javascript">
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
		WeixinJSBridge.call('hideOptionMenu');
	});
</script>
{template 'common'} {template 'common/footer'}