{template 'common/header'}
<link rel="stylesheet" type="text/css" href="../addons/str_takeout/template/resource/css/main.css?ver=11242316" />
<script src="../addons/str_takeout/template/resource/js/order.js"></script>
<script src="../addons/str_takeout/template/resource/js/dialog.js"></script>
<script src="https://one.pingxx.com/lib/pingpp_one.js"></script>
<script src="https://one.pingxx.com/lib/sea.js"></script>
<style type="text/css">
	body {
		background-color: #E5E5E5;
	}
	#phone_vaild {
		margin: 0;
		width: 100%;
		padding: 0 0 15px 0;
		text-align: center;
	}
	#phone_vaild a.comm_btn{
		width: 100%;
	}
	#phone_code_wrapper{
		margin: 0;
		width: 100%;
		padding: 0 0 15px 0;
	}
	.menu_list li > div.order_item_count .num:before {
		content: "";
	}
	.menu_list li > div.order_item_count .num {
		font-size: 18px;
		border: 1px #BBB solid;
		line-height: 26px;
		margin-top: -1px;
		min-width: 36px;
		text-align: center;
		padding-left: 6px;
	}
	.buy_btn {
		display: inline-block;
		height: 28px;
		line-height: 28px;
		font-size: 14px;
		vertical-align: middle;
		white-space: nowrap;
		margin-top: 10px;
		border: 1px #CCC solid;
	}
</style>
{template 'header'}
<div class="container">
	<form name="cart_confirm_form" id="cart_confirm_form" method="post">
		<section class="menu_wrap">
			<div class="cont_box delivery_info" style="margin-bottom: 0;">
				<input type="hidden" name="address_id" value="{$address['id']}" id="address_id">
				<label class="left">送餐地址</label>
				<div class="mid"><a href="{php echo $this->createMobileUrl('address', array('sid' => $sid, 'r' => 1));}" style="display: block"><span id="showAddres">{$address['address']}</span><i class="ico_forward"></i></a></div>
			</div>
			<div class="cont_box delivery_info" style="margin-top: 0;padding-top: 0;">
				<div class="cont_box vaild hidden" id="phone_vaild">
					<a class="comm_btn hidden" id="phone_vaild_submit">发送短信，验证手机号</a>
					<div id="phone_code_wrapper" class="cont_box hidden">
						<label class="left">验证码</label>
						<div class="mid">
							<input type="text" id="code" name="code" value=""></input>
						</div>
					</div>
					<a class="comm_btn disabled hidden" id="phone_code_submit">验证手机</a>
				</div>
				<label class="left">送餐时间</label>
				<div class="mid" >
					<select id="showTime" name="delivery_time">
					    {$str}
					</select>
				</div>
				<br />
				<label class="left">备注信息</label>
				<div class="mid"><input type="text" id="showNote" name="note" value=""></input></div>
			</div>
			<div class="cont_box">
				<div class="shopping_info cont_box">
					<time>{php echo date('Y-m-d',time());}</time>
					<span id="shopName">
						{php $sname=pdo_fetchall('SELECT title,telephone FROM ' . tablename('str_store').' WHERE id='.$address['sid']);}
						{$sname[0]['title']}
					<a class="ico_tel" href="tel:{$sname[0]['telephone']}"></a></span>
				</div>
				<ul class="menu_list order_list" id="orderList">
					{loop $dish_info $li}
					{if $li['dish_type']=='TAOCAN'}
						{php $li['kucun'] = -1; }
					{/if}
					{if $li['kucun']==''}
						{php $li['kucun'] = 0;}
					{/if}
					{if $li['kucun']}
					<li id="{$li['id']}" class="cont_box">
						<div class="order_item">
							<h3>{$li['title']}</h3>
							<strong>￥<span class="unit_price">{$li['price']}</span></strong>
							<div class="info">{$li['zuhe']}</div>
						</div>
						<div class="order_item_count">
							<div class="fr buy_btn" max="{$li['kucun']}">
								<a href="javascript:void(0);" class="btn_n add active"></a>
							</div>
							<input autocomplete="off" class="number" type="hidden" name="dish{$li['id']}" value="{$dishes[$li['id']]}">
							<span class="count">{$dishes[$li['id']]}</span>
						</div>

					</li>
					{/if}
					{/loop}
					<li id="totalprice_wrap" class="cont_box">
						<div class="order_item">
							<h3>总价</h3>
							<strong>￥<span class="unit_price" id="totalPrice2"></span></strong>
						</div>

					</li>
				</ul>
				<p>&nbsp;</p>
			</div>
			<div class="tips" id="addtip" style="background-color:#e1943c;display:none" data-flag="0">亲，您可能还需要以下菜品</div>
		</section>
		<footer class="order_fixed">
			<div class="fixed">
				<a id="fix_bar" id="settlement" href="javascript:;" class="comm_btn submit_order">共<span id="totalPrice"></span>元 去支付</a>
					<nav class="nav_common">
						<ul class="box_nav">
							<li class="more ">
								<a href="{php echo $this->createMobileUrl('dish', array('sid' => $sid,'rand' => rand()));}">
									 <span class="order">&nbsp;</span>
								 <label>门店菜单</label>
								</a>
							</li>
							<li class="more on">
								<a href="{php echo $this->createMobileUrl('myorder', array('sid' => $sid,'rand' => rand()));}">
									<span class="my">&nbsp;</span>
								<label> 我的订单</label>
							</a>
							</li>
							<li class="more">
								<a href="{php echo $this->createMobileUrl('address', array('sid' => $sid,'rand' => rand()));}">
									<span class="introx">&nbsp;</span>
								<label> 地址管理</label>
								</a>
							</li>
						</ul>
					</nav>
			</div>
		</footer>
	</form>
	{template 'footerbar'}
</div>

<script type="text/javascript">
	$(function() {
		var amountCb = $.amountCb();
		$('.order_list li').each(function() {
			var count = parseInt($(this).find('.count').text()),
				_add = $(this).find('.add'),
				i = 0;
			for (; i < count; i++) {
				amountCb.call(_add, '+');
			}
			_add.amount(count, amountCb);
		});
		$("#showTel").change(function(){
			$("#phone_code_wrapper").addClass("hidden");
			$("#phone_vaild").addClass("hidden");
			$('#phone_code_submit').addClass("disabled").addClass("hidden");
			$('#phone_vaild_submit').removeClass("disabled").addClass("hidden");
			var newmobile=$.trim($("#showTel").val());
			if(!newmobile) {
				return false;
			}
			var valid = !!newmobile.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/);
			if(!valid){
				$("#showTel").val($("#showTel").attr("data-mobile"));
				alert('手机号格式不正确');
			}else{
				$.post('{php echo $this->createMobileUrl('ajax', array('op' => 'tel_checkauth'))}', {'tel':newmobile}, function(data){
					if(data == 'authed') {
						$("#mobile span").html(newmobile);
					} else {
						vaild_times_rem=3;
						$("#mobile span").html(newmobile);
						$("#phone_vaild").removeClass("hidden");
						$('#phone_vaild_submit').removeClass("hidden");
					}
				});
			}
		}).blur();
		$('#phone_vaild_submit').click(function(){
			if(!$('#phone_vaild_submit').hasClass("disabled")){
				$('#phone_vaild_submit').addClass("disabled");
				var newmobile=$.trim($("#showTel").val());
				$.post('{php echo $this->createMobileUrl('ajax', array('op' => 'send_auth_code'))}', {'tel':newmobile}, function(data){
					$('#phone_vaild_submit').addClass("disabled").addClass("hidden");
					if(data == 'success') {
						$("#phone_code_wrapper").removeClass("hidden");
						$('#phone_code_submit').removeClass("hidden").removeClass("disabled");
					}else if(data == 'request too many times') {
						$('#phone_vaild_submit').removeClass("hidden").text("两分钟内发送过验证码，请稍等");
						setTimeout(function(){$('#phone_vaild_submit').removeClass("disabled").text("发送短信，验证手机号");},10000);
					}else{
						alert("验证码发送失败");
						$('#phone_vaild_submit').removeClass("hidden").removeClass("disabled");
					}
				});
			}
		});
		$('#phone_code_submit').click(function(){
			if(!$('#phone_code_submit').hasClass("disabled")){
				$('#phone_code_submit').addClass("disabled");
				var newmobile=$.trim($("#showTel").val());
				var code=$.trim($("#code").val());
				$("#code").val("");
				$.post('{php echo $this->createMobileUrl('ajax', array('op' => 'authtel'))}', {'tel':newmobile,'code':code}, function(data){
					vaild_times_rem--;
					if(data == 'success') {
						$('#phone_code_submit').text("验证成功");
						setTimeout(function(){
							$("#phone_code_wrapper").addClass("hidden");
							$("#phone_vaild").addClass("hidden");
							$('#phone_code_submit').addClass("disabled").addClass("hidden");
							$('#phone_vaild_submit').removeClass("disabled").addClass("hidden");
							$('#phone_code_submit').text("验证手机");
							$("#showTel").attr("data-mobile",newmobile);
						},2000);

					}else if(data == 'time out'){
						alert("验证码超时");
						$("#phone_code_wrapper").addClass("hidden");
						$('#phone_code_submit').addClass("disabled").addClass("hidden");
						$('#phone_vaild_submit').removeClass("disabled").removeClass("hidden");
					}else{
						if(vaild_times_rem){
							alert("验证码错误,还有"+vaild_times_rem+"次重试");
							$('#phone_code_submit').removeClass("disabled");
						}else{
							alert("验证码错误,请重新发送验证码");
							vaild_times_rem=3;
							$("#phone_code_wrapper").addClass("hidden");
							$('#phone_code_submit').addClass("disabled").addClass("hidden");
							$('#phone_vaild_submit').removeClass("disabled").removeClass("hidden");
						}
					}
				});
			}
		});
	});
	$(".submit_order").click(function(){
		if(!$(this).hasClass('disabled')){
			$(this).addClass('disabled');				
			var address_id = $("#address_id").val();
			if(!address_id) {
				alert('请选择送餐地址');
				$(this).removeClass('disabled');
				return false;
			}
			var room = $("#showNumber").val();
			if(!room) {
				alert('请输入楼层房号');
				$(this).removeClass('disabled');
				return false;
			}
			var mobile = $("#showTel").val();
			if(!mobile) {
				alert('请输入手机号');
				$(this).removeClass('disabled');
				return false;
			}else{
				var valid = !!mobile.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/);
				if(!valid){
					alert('手机号格式不正确');
					$(this).removeClass('disabled');
					return false;
				}else{
					$.post('{php echo $this->createMobileUrl('ajax', array('op' => 'tel_checkauth'))}', {'tel':mobile}, function(data){
						if(data != 'authed') {
							alert('手机号未验证');
							return false;
						}
					});
				}
			}
			var realname = $("#showName").val();
			if(!realname) {
				alert('请输入姓名');
				$(this).removeClass('disabled');
				return false;
			}
			var note = $("#showNote").val();
			var time = $("#showTime").val();
			if($("#totalPrice").text()<=0){
				alert('请点单');
				$(this).removeClass('disabled');
				return false;
			}
			var param=$('#cart_confirm_form').serialize();
			$.post("{php echo $this->createMobileUrl('order', array('sid' => $sid));}", param, function(e){
				if(e.errno == 0) {
					var order_no = e.id;
					var amount = e.priceYuan*100;
					$(".submit_order").html('已提交，等待支付');
					$(".submit_order").addClass('disabled');
//					setTimeout(function(){
//						location.href="{php echo $this->createMobileUrl('myorder', array('sid' => $sid));}";
//					},1000);
			        pingpp_one.init({
						app_id:'app_mzXP8ODWj508qfHa',                     //该应用在ping++的应用ID
						order_no:order_no,                     //订单在商户系统中的订单号
						amount:amount,                                   //订单价格，单位：人民币 分
						// 壹收款页面上需要展示的渠道，数组，数组顺序即页面展示出的渠道的顺序
						// upmp_wap 渠道在微信内部无法使用，若用户未安装银联手机支付控件，则无法调起支付
						channel:['wx_pub','alipay_wap'],
						charge_url:'../pay/example/pay.php',  //商户服务端创建订单的url
						//charge_param:{a:1,b:2},                      //(可选，用户自定义参数，若存在自定义参数则壹收款会通过 POST 方法透传给 charge_url)
						open_id:'{$openID}'                             //(可选，使用微信公众号支付时必须传入)
					},function(res){
			            if(!res.status){
			                //处理错误
			                if(res.chargeUrlOutput=="0"){
			                	alert("订单金额不正确");
			                }else if(res.chargeUrlOutput=="1"){
			                	alert("获取不到该订单");
			                }else
			                	alert("错误消息:"+res.msg);
			            }
			            else{
			                //若微信公众号渠道需要使用壹收款的支付成功页面，则在这里进行成功回调，调用 pingpp_one.success 方法，你也可以自己定义回调函数
			                //其他渠道的处理方法请见第 2 节
			                pingpp_one.success(function(res){
			                    if(!res.status){
			                        alert(res.msg);
			                    }
			                },function(){
			                    //这里处理支付成功页面点击“继续购物”按钮触发的方法，例如：若你需要点击“继续购物”按钮跳转到你的购买页，则在该方法内写入 window.location.href = "你的购买页面 url"
			                    location.href="{php echo $this->createMobileUrl('myorder', array('sid' => $sid));}";
			                });
			            }
			        });
					return false;
				}else{
					alert(e.error);
					$(".submit_order").removeClass('disabled');
				}
			},'json');
		}
		return false;
	});
	
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
		WeixinJSBridge.call('hideOptionMenu');
	});
</script>
{template 'common'} {template 'common/footer'}
