{template 'common/header'}
<link rel="stylesheet" type="text/css" href="../addons/str_takeout/template/resource/css/main.css?ver=1" />
<script src="../addons/str_takeout/template/resource/js/order.js"></script>
<script src="../addons/str_takeout/template/resource/js/dialog.js"></script>
<script src="https://one.pingxx.com/lib/pingpp_one.js"></script>
<script src="https://one.pingxx.com/lib/sea.js"></script>
<style type="text/css">
	body {
		background-color: #E5E5E5;
	}
</style>
{template 'header'}
<div class="container">
	<form name="cart_confirm_form" id="cart_confirm_form" method="post">
		<section class="menu_wrap">
			<div class="cont_box delivery_info">
				<input type="hidden" name="address_id" value="{$address['id']}" id="address_id">
				<label class="left">送餐地址</label>
				<div class="mid"><span id="showAddres">{$address['address']}</span><a href="{php echo $this->createMobileUrl('address', array('sid' => $sid, 'r' => 1));}"><i class="ico_forward"></i></a></div>
				<br />
				<label class="left" id="showRoom">楼名房号</label>
				<div class="mid">
					<input type="text" id="showNumber" name="room" value="{$address['room']}"></input>
				</div>
				<br />
				<input type="text" id="showName" name="realname" value="{$address['realname']}" class="half"  placeholder="姓名"></input>
				<input type="tel" id="showTel" name="mobile" value="{$address['mobile']}" class="half" placeholder="手机号"></input>
			</div>
			<div class="cont_box">
				<div class="shopping_info cont_box">
					<time>{php echo date('Y-m-d',time());}</time>
					<span id="shopName">
						{php $sname=pdo_fetchall('SELECT title FROM ' . tablename('str_store').' WHERE id='.$address['sid']);}
						{$sname[0]['title']}
					<a class="ico_tel" href="tel:18888888888"></a></span>
				</div>
				<ul class="menu_list order_list" id="orderList">
					{loop $dish_info $li}
					{if $li['dish_type']=='TAOCAN'}
						{php $li['kucun'] = -1; }
					{/if}
					{if $li['kucun']==''}
						{php $li['kucun'] = 0;}
					{/if}
					<li id="{$li['id']}" class="cont_box">
						<div class="order_item">
							<h3>{$li['title']}</h3>
							<strong>￥<span class="unit_price">{$li['price']}</span></strong>
							<div class="info">{$li['zuhe']}</div>
						</div>
						<div class="order_item_count">
							<div class="fr" max="{$li['kucun']}">
								<a href="javascript:void(0);" class="btn_n add active"></a>
							</div>
							<input autocomplete="off" class="number" type="hidden" name="dish{$li['id']}" value="{$dishes[$li['id']]}">
							<span class="count">{$dishes[$li['id']]}</span>
						</div>

					</li>
					{/loop}
					<li id="totalprice_wrap" class="cont_box">
						<div class="order_item">
							<h3>总价</h3>
							<strong>￥<span class="unit_price" id="totalPrice2"></span></strong>
						</div>

					</li>
				</ul>
				<p>&nbsp;</p>
			</div>
			<div class="tips" id="addtip" style="background-color:#e1943c;display:none" data-flag="0">亲，您可能还需要以下菜品</div>
		</section>
		<footer class="order_fixed">
			<div class="fixed" id="fix_bar">
				<a id="settlement" href="javascript:;" class="comm_btn submit_order">共<span id="totalPrice"></span>元 去支付</a>
			</div>
		</footer>
	</form>
	{template 'footerbar'}
</div>

<script type="text/javascript">
	$(function() {
		var amountCb = $.amountCb();
		$('.order_list li').each(function() {
			var count = parseInt($(this).find('.count').text()),
				_add = $(this).find('.add'),
				i = 0;
			for (; i < count; i++) {
				amountCb.call(_add, '+');
			}
			_add.amount(count, amountCb);
		});
	});
	$(".submit_order").click(function(){
		if(!$(this).hasClass('disabled')){
			$(this).addClass('disabled');				
			var address_id = $("#address_id").val();
			if(!address_id) {
				alert('请选择送餐地址');
				$(this).removeClass('disabled');
				return false;
			}
			var room = $("#showNumber").val();
			if(!room) {
				alert('请输入楼层房号');
				$(this).removeClass('disabled');
				return false;
			}
			var mobile = $("#showTel").val();
			if(!mobile) {
				alert('请输入手机号');
				$(this).removeClass('disabled');
				return false;
			}else{
				var valid = !!mobile.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/);
				if(!valid){
					alert('手机号格式不正确');
					$(this).removeClass('disabled');
					return false;
				}
			}
			var realname = $("#showName").val();
			if(!realname) {
				alert('请输入姓名');
				$(this).removeClass('disabled');
				return false;
			}
			if($("#totalPrice").text()<=0){
				alert('请点单');
				$(this).removeClass('disabled');
				return false;
			}
			var param = {
				'order_type' :2,
				'address_id':address_id,
				'note':'',
				'delivery_time':'',
				'realname':realname,
				'mobile':mobile,
				'room':room
			}
			$.post("{php echo $this->createMobileUrl('order', array('sid' => $sid));}", $('#cart_confirm_form').serialize(), function(e){
				if(e.errno == 0) {
					$(".submit_order").html('已提交');
					$(".submit_order").addClass('disabled');
			        pingpp_one.init({
			            app_id:'app_mzXP8ODWj508qfHa',                     //该应用在ping++的应用ID
			            order_no: e.id,                     //订单在商户系统中的订单号
			            amount: e.priceYuan*100,                                   //订单价格，单位：人民币 分
			            // 壹收款页面上需要展示的渠道，数组，数组顺序即页面展示出的渠道的顺序
			            // upmp_wap 渠道在微信内部无法使用，若用户未安装银联手机支付控件，则无法调起支付
			            channel:['alipay_wap','wx_pub','upacp_wap','yeepay_wap','jdpay_wap','bfb_wap'],
			            charge_url:'http://120.25.124.140/pay/example/pay.php',  //商户服务端创建订单的url
			            //charge_param:{a:1,b:2},                      //(可选，用户自定义参数，若存在自定义参数则壹收款会通过 POST 方法透传给 charge_url)
			            open_id:'Openid'                             //(可选，使用微信公众号支付时必须传入)
			        },function(res){
			            if(!res.status){
			                //处理错误
			                alert("错误消息"+res.msg);
			            }
			            else{
			                //若微信公众号渠道需要使用壹收款的支付成功页面，则在这里进行成功回调，调用 pingpp_one.success 方法，你也可以自己定义回调函数
			                //其他渠道的处理方法请见第 2 节
			                pingpp_one.success(function(res){
			                    if(!res.status){
			                        alert(res.msg);
			                    }
			                },function(){
			                    //这里处理支付成功页面点击“继续购物”按钮触发的方法，例如：若你需要点击“继续购物”按钮跳转到你的购买页，则在该方法内写入 window.location.href = "你的购买页面 url"
			                    window.location.href='http://yourdomain.com/payment_succeeded';//示例
			                });
			            }
			        });
					return false;
				}else{
					alert(e.error);
					$(".submit_order").removeClass('disabled');
				}
			},'json');
		}
		return false;
	});
	
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
		WeixinJSBridge.call('hideOptionMenu');
	});
</script>
{template 'common'} {template 'common/footer'}