{php session_start();}
{template 'common/header'}
<style type="text/css">
	.require{color:red;}
	.info{padding:6px;width:400px;margin:-20px auto 3px auto;text-align:center;}
	.order-nav {margin: 0;width: 100%;min-width: 800px;}
	.order-nav > li > a {display: block;}
	.order-nav-tabs {background: #EEE;}
	.order-nav-tabs > li {line-height: 40px;float: left;list-style: none;display: block;text-align: -webkit-match-parent;}
	.order-nav-tabs > li > a {font-size: 14px;color: #666;height: 40px;line-height: 40px;padding: 0 10px;margin: 0;border: 1px solid transparent;border-bottom-width: 0px;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
	.order-nav-tabs > li > a, .order-nav-tabs > li > a:focus {border-radius: 0 !important;background-color: #f9f9f9;color: #999;margin-right: -1px;position: relative;z-index: 11;border-color: #c5d0dc;text-decoration: none;}
	.order-nav-tabs >li >a:hover {background-color: #FFF;}
	.order-nav-tabs > li.active > a, .order-nav-tabs > li.active > a:hover, .order-nav-tabs > li.active > a:focus {color: #576373;border-color: #c5d0dc;border-top: 2px solid #4c8fbd;border-bottom-color: transparent;background-color: #FFF;z-index: 12;margin-top: -1px;box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15);}	
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6E7C75E41980283b39d3c61e81f16a39"></script>
<script type="text/javascript" src="./resource/js/lib/intersectPolygon.js" ></script>
<div class="alert alert-info info">
	<i class="fa fa-info-circle"></i>
	当前门店名称: {$store['title']}
</div>
{template 'nav'}
{if $op == 'order'}
	<div class="main">
	<h3><a href="javascript:void" onclick="location.reload();"><span class="label label-danger" id="neworders">0</span>条新订单</a></h3>
		<div class="panel panel-info">
			<div class="panel-heading">筛选</div>
			<div class="panel-body">
				<form action="./index.php" method="get" class="form-horizontal" role="form">
					<input type="hidden" name="c" value="site">
					<input type="hidden" name="a" value="entry">
					<input type="hidden" name="m" value="str_takeout">
					<input type="hidden" name="do" value="manage"/>
					<input type="hidden" name="op" value="order"/>
					<input type="hidden" name="status" value="{$_GPC['status']}"/>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">用户信息</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<input class="form-control" name="keyword" placeholder="输入用户名或手机号" type="text" value="{$_GPC['keyword']}">
						</div>	
					</div>
					<div class="form-group clearfix">
						<label class="col-xs-12 col-sm-2 col-md-2 control-label">下单时间</label>
						<div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
							{php echo tpl_form_field_daterange('addtime', array('start' => date('Y-m-d', $starttime), 'end' => date('Y-m-d', $endtime)));}
						</div>
						<div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
							<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<form class="form-horizontal" action="" method="post">
			<ul class="order-nav order-nav-tabs" style="background:none;float: left;margin-left: 0px;padding-left: 0px;border-bottom:1px #c5d0dc solid;">
				<li{if empty($status)} class="active"{/if}><a href="{php echo $this->createWebUrl('manage', array('op' => 'order', 'status' => 0))}">全部订单</a></li>
				<!-- <li{if $status == 1} class="active"{/if}><a href="{php echo $this->createWebUrl('manage', array('op' => 'order', 'status' => 1))}">待确认</a></li> -->
				<li{if $status == 2} class="active"{/if}><a href="{php echo $this->createWebUrl('manage', array('op' => 'order', 'status' => 2))}">处理中</a></li>
				<li{if $status == 3} class="active"{/if}><a href="{php echo $this->createWebUrl('manage', array('op' => 'order', 'status' => 3))}">已完成</a></li>
				<li{if $status == 4} class="active"{/if}><a href="{php echo $this->createWebUrl('manage', array('op' => 'order', 'status' => 4))}">已取消</a></li>
				<li{if $status == 6} class="active"{/if}><a href="{php echo $this->createWebUrl('manage', array('op' => 'order', 'status' => 6))}">问题订单</a></li>
			</ul>
			<div class="panel panel-default">
				<div class="panel-body table-responsive" style="overflow:inherit">
					<table class="table table-hover">
						<thead class="navbar-inner">
							<tr>
								<th>订单id</th>
								<th>预定人/电话</th>
								<th>份数/总价</th>
								<!-- <th>类型</th>  -->
								<th>支付方式</th>
								<th>订单状态</th>
								<th>打印</th>
								<th>下单时间</th>
								{if $_SESSION['role'] == 'manager'}
								<th style="width:150px; text-align:right;">详情/删除</th>
								{else}
								<th style="width:150px; text-align:right;">详情</th>
								{/if}
							</tr>
						</thead>
						<tbody>
							{loop $data $dca}
							<tr>
								<td><b>{$dca['id']}</b></td>
								<td>{$dca['username']}/{$dca['mobile']}</td>
								<td>{$dca['num']}份/{$dca['price']}元</td>
								<!-- 
								<td>
									{if $dca['order_type'] == 1}
										<span class="label label-success">店内</span>
									{elseif $dca['order_type'] == 2}
										<span class="label label-danger">外卖</span>
									{/if}
								</td>
								 -->
								<td>
									{if empty($dca['pay_type'])}
										<span class="label label-default">未支付</span>
									{else}
										<span class="label label-success">{$dca['pay_type']}</span>
									{/if}
								</td>
								<td>
									{if $dca['status'] == 1}
										<span class="label label-danger">未支付</span>
									{elseif $dca['status'] == 2}
										<span class="label label-warning">已支付</span>
									{elseif $dca['status'] == 3}
										<span class="label label-success">已完成</span>
									{elseif $dca['status'] == 4}
										<span class="label label-default">已取消</span>
									{elseif $dca['status'] == 6}
										<span class="label label-danger">问题订单</span>
									{else}
										<span class="label label-default">未知</span>
									{/if}
								</td>
								<td><a href="javascript:;" class="btn btn-default btn-sm print" data-id="{$dca['id']}">
									<i class="fa fa-print"></i> 
								</a>
								</td>
								<td>{php echo date('Y-m-d H:i', $dca['addtime'])}</td>
								<td style="text-align:right;">
									<a href="{php echo $this->createWebUrl('manage', array('op' => 'orderdetail', 'id' => $dca['id']))}" class="btn btn-success btn-sm" title="查看详情" data-toggle="tooltip" data-placement="top">详情</a>
									{if $_SESSION['role'] == 'manager'}
									<a href="{php echo $this->createWebUrl('manage', array('op' => 'orderdel', 'id' => $dca['id']))}" class="btn btn-default btn-sm" title="删除" data-toggle="tooltip" data-placement="top" onclick="if(!confirm('删除后将不可恢复，确定删除吗?')) return false;"><i class="fa fa-times"> </i></a>
									{/if}
									<!-- 二次开发 加入黑名单取消掉 -->
									<!-- <a href="{php echo $this->createWebUrl('manage', array('op' => 'trash_add', 'id' => $dca['id']))}" class="btn btn-default btn-sm" title="加入黑名单" data-toggle="tooltip" data-placement="top" onclick="if(!confirm('确定加入黑名单吗?')) return false;" {if !empty($dca['is_trash'])}style="color:red"{/if}><i class="fa fa-trash"> </i></a>  -->
								</td>
							</tr>
							{/loop}
						</tbody>
					</table>
					
				</div>
			</div>
			{$pager}
		</form>
		<!-- 二次开发，增加导出为excel -->
					{if empty($status)}
					<button onclick="exportExcel(0)" class="btn btn-success">导出为Excel</button>
					{else}
					<button onclick="exportExcel({php echo $status;})" class="btn btn-success">导出为Excel</button>
					{/if}
	</div>
	<script type="text/javascript">
		require(['util'], function(u){
			$('.print').click(function(){
				if(!confirm('确定打印该订单吗？')) {
					return false;
				}
				var id = $(this).attr('data-id');
				$.post("{php echo $this->createWebUrl('manage', array('op' => 'ajaxprint'))}", {'id' : id}, function(data) {
					if(data != 'success') {
						u.message(data, '', 'error');
					} else {
						u.message('正在打印，请确认是否设置并开启打印机！');
					}
				});
				return false;
			});

		});
		//二次开发，导出为excel
		function exportExcel(status){
			location.href = "./index.php?c=site&a=entry&op=exportExcel&do=manage&m=str_takeout" + "&status=" + status;
		}
	</script>
{elseif $op == 'orderdetail'}
	<div class="main">
		<form action="./index.php" method="get" class="form-horizontal" role="form">
			<div class="panel panel-default">
				<div class="panel-heading">菜品信息【共 <strong>{$order['num']}</strong> 份,总价 <strong>{$order['price']}</strong> 元】</div>
				<div class="panel-body table-responsive">
					<table class="table table-hover">
						<thead class="navbar-inner">
							<tr>
								<th>菜品</th>
								<th>份数</th>
								<th>小计(元)</th>
								<th></th>
							</tr>
							{if !empty($order['dish'])}
								{loop $order['dish'] $or}
									<tr>
										<td>{$or['dish_title']}</td>
										<td>{$or['dish_num']} 份</td>
										<td>{$or['dish_price']} 元</td>
										<td>
											<a class="btn btn-success" target="_blank" href="{php echo $this->createWebUrl('manage', array('op' => 'dish_post', 'id' => $or['dish_id']));}">菜品信息</a>
										</td>
									</tr>
								{/loop}
							{/if}
						</thead>
					</table>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">订单信息</div>
				<div class="panel-body">
					{if $order['order_type'] == 1}
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">订单类型:</label>
							<div class="col-sm-9 col-xs-9 col-md-9">
								<label class="label label-success">店内订餐</label>
							</div>	
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">总计:</label>
							<div class="col-sm-9 col-xs-9 col-md-9">
								<p class="form-control-static">{$order['price']} 元</p>
							</div>	
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">桌号:</label>
							<div class="col-sm-9 col-xs-9 col-md-9">
								<p class="form-control-static">{$order['table_num']}</p>
							</div>	
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">就餐人就:</label>
							<div class="col-sm-9 col-xs-9 col-md-9">
								<p class="form-control-static">{$order['person_num']} 人</p>
							</div>	
						</div>
					{elseif $order['order_type'] == 2}
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">订单类型:</label>
							<div class="col-sm-9 col-xs-9 col-md-9">
								<p class="form-control-static">
									<label class="label label-success">外卖订餐</label>
								</p>
							</div>	
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">配送费:</label>
							<div class="col-sm-9 col-xs-9 col-md-9">
								<p class="form-control-static">
								{$order['delivery_fee']}元
								</p>
							</div>	
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">菜品金额:</label>
							<div class="col-sm-9 col-xs-9 col-md-9">
								<p class="form-control-static">
								{$order['price']}元
								</p>
							</div>	
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">总价:</label>
							<div class="col-sm-9 col-xs-9 col-md-9">
								<p class="form-control-static">
								{php echo ($order['price'] + $order['delivery_fee'])}元
								</p>
							</div>	
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">赠送积分:</label>
							<div class="col-sm-9 col-xs-9 col-md-9">
								<p class="form-control-static">
									{$order['grant_credit']} 积分
									{if !$order['is_grant']}
										<span class="label label-danger">未赠送</span>
									{else}
										<span class="label label-success">已赠送</span>
									{/if}
								</p>
							</div>	
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">配送时间:</label>
							<div class="col-sm-9 col-xs-9 col-md-9">
								<p class="form-control-static">{if $order['delivery_time']}{$order['delivery_time']}{else}尽快送出{/if}</p>
							</div>	
						</div>
					{/if}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">备注:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">{if $order['note']}{$order['note']}{else}无{/if}</p>
						</div>	
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">付款方式:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">
								{if empty($order['pay_type'])}
								<label class="label label-danger">未支付</label>
								{else}
								<label class="label label-success">{$order['pay_type']}</label>
								{/if}
							</p>
						</div>	
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">订单状态:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">
								{if $order['status'] == 1}
									<span class="label label-danger">未支付</span>
									<!-- 已支付 -->
								{elseif $order['status'] == 2}
									<span class="label label-warning">已支付</span>
								{elseif $order['status'] == 3}
									<span class="label label-success">已完成</span>
								{elseif $order['status'] == 4}
									<span class="label label-default">已取消</span>
								{elseif $order['status'] == 6}
									<span class="label label-danger">问题订单</span>
								{else}
									<span class="label label-default">未知</span>
								{/if}
							</p>
						</div>	
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">下单时间:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">{php echo date('Y-m-d H:i', $order['addtime']);}</p>
						</div>	
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">用户信息</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">用户名:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">{$order['username']}</p>
						</div>	
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">电话:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">{$order['mobile']}</p>
						</div>	
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">送餐地址:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">{$order['address']}</p>
						</div>	
					</div>
				</div>
			</div>
			<!-- 二次开发 问题订单备注 -->
			<div class="panel panel-default">
				<div class="panel-heading">问题订单订单备注</div>
				<div class="panel-body">
					<div class="form-group">
						<textarea class="form-control" id="problemOrderRemark" rows="5" placeholder="请输入问题备注">{php echo $order['premark']}</textarea>
					</div>
				</div>
			</div>
			{if $order['comment'] == 1}
			<div class="panel panel-default">
				<div class="panel-heading">评价信息 <small class="text-danger">{php echo date('Y-m-d H:i', $comment['addtime']);}</small></div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">菜品口味:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">
								<?php
									for($i = 0; $i < $comment['taste']; $i++) {
										echo '<i class="fa fa-star"></i>';
									}
									for($i = $comment['taste']; $i < 5; $i++) {
										echo '<i class="fa fa-star-o"></i>';
									}
								?>
							</p>
						</div>	
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">服务态度:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">
								<?php
									for($i = 0; $i < $comment['serve']; $i++) {
										echo '<i class="fa fa-star"></i>';
									}
									for($i = $comment['serve']; $i < 5; $i++) {
										echo '<i class="fa fa-star-o"></i>';
									}
								?>
							</p>
						</div>	
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">配送速度:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">
								<?php
									for($i = 0; $i < $comment['speed']; $i++) {
										echo '<i class="fa fa-star"></i>';
									}
									for($i = $comment['speed']; $i < 5; $i++) {
										echo '<i class="fa fa-star-o"></i>';
									}
								?>
							</p>
						</div>	
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">评价:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">{$comment['note']}</p>
						</div>	
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">审核状态:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">
								{if $comment['status'] == 1}
									<span class="label label-success">审核通过</span>
								{elseif $comment['status'] == 2}
									<span class="label label-danger">审核未通过</span>
								{else}
									<span class="label label-default">审核中</span>
								{/if}
							</p>
						</div>	
					</div>
				</div>
			</div>
			{/if}

			<div class="form-group">
				<div class="col-sm-9 col-xs-9 col-md-9">
					<a href="{php echo $this->createWeburl('manage', array('op' => 'status', 'id' => $order['id'], 'status' => 2));}" class="btn btn-danger" onclick="if(!confirm('确定修改订单状态?')) return false;">已确认，处理中</a>
					<a href="{php echo $this->createWeburl('manage', array('op' => 'status', 'id' => $order['id'], 'status' => 3));}" class="btn btn-primary" onclick="if(!confirm('确定修改订单状态?')) return false;">设为已完成</a>
					<a href="{php echo $this->createWeburl('manage', array('op' => 'status', 'id' => $order['id'], 'status' => 4));}" class="btn btn-default" onclick="if(!confirm('确定修改订单状态?')) return false;">设为已取消</a>
					<a href="{php echo $this->createWeburl('manage', array('op' => 'status', 'id' => $order['id'], 'status' => 5));}" class="btn btn-warning" onclick="if(!confirm('确定设置为已支付?')) return false;">设为已支付</a>
					<!-- 设为问题订单   -->
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" onclick="wenti('{php echo $order['id']}')" class="btn btn-danger">设为问题订单</button>
				</div>	
			</div>
		</form>
	</div>
	<script type="text/javascript">
	function wenti(orderID){
		 var premark = $("#problemOrderRemark").val();
		 premark = $.trim(premark);
		 if(premark == ""){
			 alert("请输入问题备注");
			 return false;
		 }else{
			 if(confirm("确认设为问题订单？")){
				//location.href="{php echo $this->createWeburl('manage', array('op' => 'status', 'status' => 6, 'id' => " + orderID + ", 'premark' => " + premark + "));}";
				location.href = "./index.php?c=site&a=entry&op=status&status=5&do=manage&m=str_takeout" + "&status=" + 6 + "&id=" + orderID + "&premark=" + premark; 
			 }
			 
		 }
		 
	 }
	</script>
{/if}
{if $_SESSION['role'] != 'manager'}
<audio id="musicClick" src="../addons/str_takeout/template/resource/click.mp3" preload="auto"></audio>
<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
	<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="install_lodop.exe"></embed>
</object>
<script src="./resource/js/lib/LodopFuncs.js"></script>
<script>
//打印机打印订单
var LODOP; //声明为全局变量 
var count = getPrinterCount();//获取个数
var name = '{$store['printer_name']}';//打印机名称
var index;
var i;
for(i = 0; i<count; i++){//获取匹配打印机
	if(name == getPrinterName(i)){
		index = i;
		break;
	}
}
if(i == count)
	alert('没有匹配打印机，请安装小票打印机，并在打印机管理中设置打印机！');
else{
	print_order();
	print_eleme_order();
}
function getPrinterCount() {	//获取打印机个数	
	try{
		LODOP=getLodop();  
		return LODOP.GET_PRINTER_COUNT();
	}catch(e){
		return 0;
	}
		
};
function getPrinterName(iPrinterNO) {	//获取打印机名称	
	LODOP=getLodop();  
	return LODOP.GET_PRINTER_NAME(iPrinterNO);	
};
function PrintByPrinterIndex(intPrinterIndex) {	//通过ID命令某台打印机打印内容
	//CreatePrintPage();
	if (LODOP.SET_PRINTER_INDEX(intPrinterIndex)) 
	LODOP.PRINT();		
};
function setContent(data) {	//打印内容设置
	if(data.type == 'error'){
		return false;
	}
	LODOP=getLodop();  	
	LODOP.PRINT_INIT("企鹅造饭-订单打印");
	//根据订单长度，以及备注，地址长度，计算订单纸张高度
	var dishes = data.dish;
	var dishLength = dishes.length;
	/*
	var otherHeight = (data.note.length/20+1+data.address.length/20+1)*25;
	var realHeight = dishLength * 20 + 500 + otherHeight;
	var height = realHeight>500?realHeight:500; */
	LODOP.SET_PRINT_PAGESIZE(3,500,45,"A4");
	LODOP.ADD_PRINT_TEXT(10, 40, 450, 20, '企鹅造饭');
	LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
	
	var beginX = 10;
	var beginY = 0;
	var contentWidth = 480;
	var contentHeight = 20;
	for(var i = 0 ; i < dishLength; i++){
		beginX += 25;
		LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, dishes[i]['dish_title'] + " x " + dishes[i]['dish_num'] + '份 ' + dishes[i]['dish_price'] + '元');
	}
	if(data.note!=""){
		var note = "备注："+data.note;
		var length = note.length;
		var rows = length/16 + 1;
		for(var i = 0; i < rows; i++){
			var content = note.substr(i*16,16);
			beginX += 25;
			LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, content);
		}
	}
	beginX += 25;
	LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, '顾客：' + data.username);
	beginX += 25;
	
	LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, '电话：' + data.mobile);
	LODOP.SET_PRINT_STYLEA(0,"FontSize",15);
	beginX += 25;
	
	var address = "地址："+data.address;
	var adlength = address.length;
	var adrows = adlength/16 + 1;
	for(var j = 0; j < adrows; j++){
		var content = address.substr(j*16,16);
		beginX += 25;
		LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, content);
	}
	beginX += 25;
	LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, '总价：' + data.price + '元');
	LODOP.SET_PRINT_STYLEA(0,"FontSize",16);	
};	

function setElemeContent(order){
	LODOP=getLodop();  	
	LODOP.PRINT_INIT("企鹅造饭-eleme订单打印");
	//根据订单长度，以及备注，地址长度，计算订单纸张高度
	LODOP.SET_PRINT_PAGESIZE(3,500,45,"A4");
	LODOP.ADD_PRINT_TEXT(10, 0, 450, 20, '企鹅造饭-eleme订单');
	LODOP.SET_PRINT_STYLEA(0,"FontSize",14);
	
	var beginX = 10;
	var beginY = 0;
	var contentWidth = 480;
	var contentHeight = 20;
	var buckets = order.data.detail.group;//菜篮子
	//下单时间
	beginX += 25;
	LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, '下单时间：'+order.data.created_at);//下单时间
	for(var i = 0 ; i < buckets.length; i++){		
		var dishes = buckets[i];
		for(var j=0; j<dishes.length; j++){
			beginX += 25;
			LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, dishes[j].name + " x " + dishes[j].quantity + '份 ' + (dishes[j].quantity*dishes[j].price) + '元');//菜名  数量  小计
			//备注，如大份，辣等。
			if(dishes[j].specs.length>0){
				var specs = dishes[j].specs;
				var beizhu = specs.join(',');
				beginX += 25;
				LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, '--------'+beizhu);//specs
			}			
			//garnish浇头
			if(dishes[j].garnish.length>0){
				beginX += 25;
				LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, '浇头：');//浇头开始
				var garnish = dishes[j].garnish;
				for(var k=0; k< garnish.length; k++){
					LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, garnish[k].name + " x " + garnish[k].quantity + '份 ' + (garnish[k].quantity*garnish[k].price) + '元');//浇头菜名  数量  小计
					beginX += 25;
				}
			}					
		}
		
	}
	var extra = order.data.detail.extra;
	for(var n = 0; n<extra.length; n++){
		beginX += 25;
		LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, extra[n].name + " x " + extra[n].quantity + '份 ' + (extra[n].quantity*extra[n].price) + '元');//额外数量
	}
	//备注：
	var notes = "备注："+order.data.description;
	var ntlength = notes.length;
	var ntrows = ntlength/15 + 1;
	for(var j = 0; j < ntrows; j++){
		var content = notes.substr(j*15,15);
		beginX += 25;
		LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, content);
	}
	
	beginX += 25;
	LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, '顾客：' + order.data.consignee);
	LODOP.SET_PRINT_STYLEA(0,"FontSize",15);
	beginX += 25;
	
	LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, '电话：' + order.data.phone_list[0]);
	LODOP.SET_PRINT_STYLEA(0,"FontSize",15);
	beginX += 25;
	
	var address = "地址："+order.data.delivery_poi_address;
	var adlength = address.length;
	var adrows = adlength/15 + 1;
	for(var j = 0; j < adrows; j++){
		var content = address.substr(j*15,15);
		beginX += 25;
		LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, content);
	}
	beginX += 25;
	LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, '实付总价：' + order.data.total_price + '元');
	LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
	var payway = "在线支付订单";
	if(!order.data.is_online_paid){
		payway = '货到付款';
	}
	beginX += 25;
	LODOP.ADD_PRINT_TEXT(beginX, beginY, contentWidth, contentHeight, payway);
	LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
}

function log_update() {
	$.post("{php echo $this->createWebUrl('cron', array('op' => 'print'));}", function(){
		setTimeout(log_update, 10000);
	});
}
function print_order(){
	$.post("{php echo $this->createWebUrl('manage', array('op' => 'print_order'));}", function(data){
		var data = JSON.parse(data);
		if(data != '' && data.type != 'error'){			
			setContent(data);
			PrintByPrinterIndex(index);	
			//打印成功后需要更新订单已打印
			$.post("{php echo $this->createWebUrl('manage', array('op' => 'update_print'));}", {'id':data.id}, function(result){
				if(result != 'success')
					alert('订单更新失败，将会重新打印');
			});
		}		
	});
	setTimeout(print_order, 5000);	
}

function print_eleme_order(){
	var sid = {$store['id']};
	$.post("{php echo $this->createWebUrl('ajax', array('op' => 'print_eleme_order'));}",{'sid':sid}, function(data){
		var order = JSON.parse(data);
		if(order != '' && order.message == 'ok'){			
			setElemeContent(order);
			PrintByPrinterIndex(index);	
			//打印成功后需要更新订单已打印
			$.post("{php echo $this->createWebUrl('ajax', array('op' => 'update_eleme_print'));}", {'order_id':order.data.order_id,'sid':sid}, function(result){
				alert(result);
				if(result != 'success')
					alert('订单更新失败，将会重新打印');
			});
		}		
	});
	setTimeout(print_eleme_order, 5000);
}

function order_notice() {
	$.post("{php echo $this->createWebUrl('cron', array('op' => 'order'));}", function(data){
		var data = JSON.parse(data);
		//alert(data.result);
		if(data.result == 'success') {
			$("#musicClick")[0].play();			
		}
		$('#neworders').html(data.neworder);
		setTimeout(order_notice, 5000);
	});
}

function get_eleme_order(){
	//获取门店ID
	var sid = {$store['id']};
	if(sid==60){
		$.post("{php echo $this->createWebUrl('cron', array('op' => 'get_eleme_neworder'));}", {'sid':sid}, function(data){
			var data = JSON.parse(data);
			if(data.message=="ok"){
				var eleme_order_ids = data.data.order_ids;
				
				for(var i = 0; i < eleme_order_ids.length; i++){
					//获取订单详情:送货地点的经纬度
					var order_id = eleme_order_ids[i];
					$.post("{php echo $this->createWebUrl('ajax', array('op' => 'eleme_order_detail'));}", {'sid':sid,'order_id':eleme_order_ids[i]}, function(data){
						var order = JSON.parse(data);
						if(order.message=="ok"){
							var point = order.data.delivery_geo.split(",");
							var deleveryPoint = {x:point[1],y:point[0]};
							//判断该经纬度属于哪个门店
							var sid = checkStore(deleveryPoint);
							if(sid>0){
								//将订单数据入库
								//alert("訂單id="+order_id);
								$.post("{php echo $this->createWebUrl('ajax', array('op' => 'insert_eleme_order'));}", {'sid':sid,'eleme_order_id':order_id,'eleme_order':data}, function(result){
									if(result != 'success')
										;
								});
							}
							
						}
							
					});
				}
			}
				
		});
		//ajax获取新订单id列表
		setTimeout(get_eleme_order,5000);
	}
	
}

 function checkStore(Point){
	var storePoint="";
	var sid = 60;//上海总店
	{loop $otherArea $one}
	storePoint= '{$one['points']}';
	storePointsJSON  = eval(storePoint.replace(/&quot;/g,"\""));
	if((storePointsJSON)&&(isIn(storePointsJSON,Point))){
		sid={$one['id']};
		//todo:跳出循環
	}

	{/loop}
	return sid;
}
 
function isIn(storePoints,point){
	var p1 = [];
	for(var i = 0; i < storePoints.length; i++){
	     p1.push({x:storePoints[i].lng,y:storePoints[i].lat});
	}
	if(containsPointByLinearRing(point,p1)){
	     return true;
	}else{
	     return false;
	}
} 

$(function(){
	//log_update();
	//print_order();
	order_notice();
	get_eleme_order();
});
</script>
{/if}
{template 'common/footer'}
